<div class="row form-group nested-fields">
  <div class="col-10">
    <%= f.text_area :recipe, class: "form-control shadow-sm", placeholder: "たまねぎをみじん切りにする。", size: "10x2" %>
  </div>
  <div class="col-2">
    <%= link_to_remove_association '削除', f, class: "btn btn-secondary btn-block" %>
  </div>
</div>