<div class="container pt-3">
  <h5 class="text-center"><span class="mr-3"><%= @word %></span>レシピ検索結果</h5>
  <% if @post_recipes == [] %>
    <h6 class="text-center mt-5">検索されたレシピは見つかりません。</h6>
  <% else %>
    <%= render 'public/post_recipes/post_recipes' %>
  <% end %>
</div>