<div class="container">
  <div class="row pt-3">
    <div class="col-8">
      <h2>おうちレシピ</h2>
      <h5>~while staying to home~</h5>
      <p>
        冷蔵庫の中にある食材から作りたいレシピを検索したり、<br>
        おすすめレシピを投稿することができます。
      </p>
    </div>
    <div class="col-8 pt-3">
      <h3><b>おすすめレシピ</b>（♡が多い順）</h3>

    </div>
  </div>
</div>