<div class="container mb-5">
  <h4 class="text-center mt-3">下書きしたレシピ</h4>
  <div class="row text-center mt-3">
      <% if @post_recipe_count == 0 %>
        <p>下書きしたレシピはありません。</p>
      <% else %>
        <%= render 'public/users/post_recipes' %>
      <% end %>
  </div>
</div>