<div class="container mb-5">
  <h4 class="text-center mt-3">下書きしたレシピ</h4>
  <% if @post_recipe_count == 0 %>
    <div class="col text-center mt-5">下書きしたレシピはありません。</div>
  <% else %>
    <div class="row text-center">
      <% @post_recipes.each do |post_recipe| %>
        <div class="col-6 col-sm-3">
          <%= link_to(edit_post_recipe_path(post_recipe.id), class: "text-dark") do %>
            <%= image_tag post_recipe.get_recipe_image(270,150), class:"img-fluid rounded" %>
            <p><%= post_recipe.title %></p>
          <% end %>
        </div>
      <% end %>
      <div class="col-12 mx-auto">
        <%= paginate @post_recipes %>
      </div>
    </div>
  <% end %>
</div>